# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# Reports
reports/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*
